.ToDoList{
    background-color: #b8c9da;
    max-width: 500px;
    margin: 5% auto 0 auto;
    padding: 20px;
    color: white;
    font-size: 34px;
    text-align: center;
    border-radius: 10px;
    
}

/* input[type=text] {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: 0px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    min-height: 40px;
} */

.textarea{
    margin-top: 15px;
    font-size: 18px;
    font-family: Arial;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    border: 0px solid #ffffff;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    height: 40px;
    min-height: 40px;
}

.textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

button {
    font-family: Arial;
    margin-top: 10px;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    background: #8b96a9;
}

button:hover {
    background: #7c8697;
}

.Tasks{
    background-color: #b8c9da;
    max-width: 500px;
    margin: 2% auto 0 auto;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    font-family: Arial;
}

.todo {
    font-size: 18px;
}

.wrapper{
    display: grid;
    grid-template-columns: 23px auto 20px;
}

.item{
    white-space: pre-line;
}


.TasksWord{
    font-family: Arial;
    text-align: center;
    font-size: 24px;
}

hr{
    width: 100%;
    border: 1px solid #abb7cc;
}

.delate{
    margin: 5px;
    height: 15px;
    width: 15px;
    appearance: none;
    border: 0;
    border-radius: 2px;
    background-color: #b8c9da;
    cursor: pointer;
    background-image: url("./img/trash.png");
}